POSTGRES_USER=
POSTGRES_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=""

POSTGRES_DB=quiz_db
POSTGRES_INITDB_ARGS=--auth-local=scram-sha-256 --auth-host=scram-sha-256
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
DATABASE_URL_DOCKER="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_db:5432/${POSTGRES_DB}?schema=public"
REDIS_URL=redis://redis:6379

AVAX_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
CHAIN_PRIVATE_KEY=
CHAIN_CONTRACT_ADDRESS=0xE32e400b6Df659dfEA93750c76335Ff10FB6c454